body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

#foto {
    background-image: linear-gradient(to right, #0A4001 0%, #BABF93 100%);
}

#santinho {
    height: 600px;
    flex: 0 0 400px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: darkblue;
    background-color: yellowgreen;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 2px 0  darkolivegreen;

}

#cargo {
    background-image: linear-gradient(to right, #0A4001 0%, #BABF93 100%);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#slogan {
    background-image: linear-gradient(to right, #0A4001 0%, #BABF93 100%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#final {
    background-color: yellowgreen;
    font-size: 50px;
    display: flex; height: 50px; justify-content: space-around; align-items: center;
    font-weight: bold;
}

#numero {
    color: darkblue;
    text-shadow: 3px 2px 0  darkolivegreen;
}

#partido {
    color: darkblue;
    text-shadow: 3px 2px 0  darkolivegreen;
}